* {

    box-sizing: border-box;

}

body {

    background-color: rgb(46, 48, 47);
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

h1{

    text-align: center;
    color: white;
    font-size: 4rem;
    margin-bottom: -20px;

}

#game-board-wrapper {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;

}

#game-board {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 700px;
    max-width: 800px;
    min-width: 700px;
    background-color: rgb(149, 149, 149);
    border-radius: 10px;

}

#game-board div {

    background-color: rgb(54, 54, 54);
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;

}

.x,
.o {

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 150px;
    font-weight: bold;

}

#game-board .winner{

    background-color: #84e684;

}
#game-board .winner-cpu{

    background-color: #e68484;

}

.win-msg-wrapper,
.lose-msg-wrapper,
.draw-msg-wrapper{

    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
    transition: all 1s ease-in;



}
#win-msg,
#lose-msg,
#draw-msg{

    background-color: #84e684;
    color: #0d190d;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0d190d;

}

#lose-msg{

    background-color: #e68484;
    color: #190d0d;
    border: 2px solid #190d0d;

}
#draw-msg{

    background-color: #e6d684;
    color: #19160d;
    border: 2px solid #19160d;

}

.reset-wrapper{

    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

#reset-btn{

    margin: 10px auto;
    width: 50%;
    height: 40px;
    font-weight: bold;
    outline: none;
    border: none;


}

#game-board .disabled{

    pointer-events: none;
    opacity: 0.6;

}

#win-msg,
#lose-msg,
#draw-msg{

    transform: translateY(-500px);

}